<?xml version="1.0"?>
<launch>
  <!-- start Webots -->
  <include file="$(find webots_ros)/launch/webots.launch">
    <arg name="world" value="$(find bringup)/worlds/home.wbt"/>
    <arg name="mode" value="realtime"/>
    <arg name="no_gui" value="false"/>
  </include>

  <!-- URDF -->
  <include file="$(find bringup)/robot_description/launch/description.launch"/>

  <!-- Rviz -->
	<include file="$(find bringup)/visualization/launch/4wheelrobot_viz.launch"/>
  
</launch>